@model IEnumerable<IntranetMessenger.Models.UserShow>

@{
    ViewBag.Title = "Index";
}
<h2>
    Logged user: @IntranetMessenger.Models.ActiveUser.Name
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayFor(model => model.Name)
                "User List"*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })

            </td>
        </tr>
    }

</table>
